@import url(./normalize.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 10px; }

body {
  font-family: AlegreyaSans, sans-serif;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  min-height: 100%;
  width: 100%;
  min-width: 960px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: auto; }

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  /* width: 110rem; */
  width: 100%;
  margin: 0 auto; }

.section-title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d0d0d;
  margin: 50px 0 20px; }

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1100px;
  padding: 24px 80px; }

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("/fonts/AlegreyaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-ThinItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-Thin.woff2") format("woff2"), url("/fonts/AlegreyaSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-Light.woff2") format("woff2"), url("/fonts/AlegreyaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-MediumItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-BoldItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-BlackItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("/fonts/AlegreyaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-LightItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-Black.woff2") format("woff2"), url("/fonts/AlegreyaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-Italic.woff2") format("woff2"), url("/fonts/AlegreyaSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-ExtraBold.woff2") format("woff2"), url("/fonts/AlegreyaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("/fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("/fonts/AlegreyaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.contacts__phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal; }

.contacts__pic {
  width: 12px; }

.header {
  position: absolute;
  width: 100%;
  padding-top: 0;
  z-index: 1;
  color: #ffffff; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 80px 0; }

.logo__pic {
  width: 53px; }

.nav {
  margin: 0 45px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  padding-right: 10px; }
  .nav__item:last-child {
    padding-right: 0; }

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal; }

.promo {
  background: #61c4d9;
  background-image: url("/img/back/back_screen_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }

/*
.promo:after {
  content: '';
  width: 100%;
  height: 50%;
  background-image: url('/img/back/berries-1scr-bg.png');
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  position: absolute;
}
*/
.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.promo__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.promo__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  margin-top: 100px; }

.promo__subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 1; }

.promo__pic-area {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1; }

.promo__pic {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.promo__features {
  padding: 4.3rem 0; }

.btn {
  margin: 40px 0 10px;
  padding: 24px 35px;
  border-radius: 50px;
  background-color: #ffffff;
  border: none;
  color: #0f5a47;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 1, 0.22);
  box-shadow: 0 0 40px rgba(0, 0, 1, 0.22); }

.fixed-menu {
  position: fixed;
  top: 21.3rem;
  right: 4.6rem;
  z-index: 2; }

.fixed-menu__dot {
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.53rem;
  position: relative; }
  .fixed-menu__dot--active {
    border-color: #ffffff; }
  .fixed-menu__dot:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.feature__item {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  margin-right: 30px; }
  .feature__item:last-child {
    margin-right: 0; }

.feature__pic {
  width: 100%; }

.feature__desc {
  padding-left: 10px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  word-wrap: break-word; }

.reasons {
  position: relative;
  background: url("/img/reasons/reasons-bg.png") 0% 57%;
  background-repeat: no-repeat; }

.reasons:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
  background: url("/img/reasons/berries-reasons-bg.png") 0% 99%;
  background-repeat: no-repeat;
  z-index: 2; }

.reasons__subtitle {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #666666;
  width: 45%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 35px; }

.reasons__list {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.reasons__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% / 3);
  margin-right: 20px; }
  .reasons__item:last-child {
    margin-right: 0; }

.reasons__pic {
  position: relative;
  background-color: #f2f5f4;
  border-radius: 50%;
  border: 40px solid #f2f5f4;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  height: 50px;
  margin-bottom: 20px; }

.reasons__icon {
  position: absolute;
  left: -10px;
  top: -10px;
  height: 70px;
  stroke: #2a2a29;
  stroke-width: 1px;
  fill: transparent; }

.reasons__box-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reasons__short-desc {
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 10px; }

.reasons__desc {
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #666666; }

.reasons__item:nth-child(2)::before {
  position: absolute;
  content: '';
  width: 70px;
  height: 20px;
  top: 18%;
  left: -10%;
  background: url(/img/icons/dots-reasons.svg);
  background-repeat: no-repeat; }

.reasons__item:nth-child(2)::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 20px;
  top: 18%;
  right: -10%;
  background: url(/img/icons/dots-reasons.svg);
  background-repeat: no-repeat; }

.reviews {
  /*
  position: relative;
  */
  background: url("/img/reviews/berrie-reviews-bg.png") 92% 0%, url("/img/reviews/reviews-bg.png") 0% 122%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.reviews:after {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  top: 96%;
  left: 35px;
  background: url("/img/reviews/berries-reviews-bg.png") 0% 100%;
  background-repeat: no-repeat;
  z-index: 2; }

.review__list {
  margin-bottom: 1.25rem; }

.review__item {
  /* position: relative; */
  background-color: #f8faf9;
  background-image: url(/img/reviews/reviews-item-bg.png);
  background-repeat: no-repeat;
  background-position: top right; }

.review__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 51.1px 45.7px 34.6px; }

.review__box-avatar {
  margin-right: 20px;
  width: 253.1px;
  height: 259.3px;
  overflow: hidden; }

.review__avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.review__desc {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  padding-top: 0.6875rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal; }
  .review__desc h4 {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    color: #323232; }
  .review__desc p {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: #666666;
    margin-bottom: 1.3125rem;
    width: 80%; }
  .review__desc .review__username {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #666666; }

.review__carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.review__carrousel-item {
  margin-right: 12.3px;
  width: 66.7px;
  height: 66.7px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .review__carrousel-item:last-child {
    margin-right: 0; }

.review__avatar--mini {
  width: 66.7px;
  height: 66.7px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover; }

.review__carrousel-item--current,
.review__carrousel-item:hover {
  border-radius: 50%;
  border: solid 0.5rem #0f5a47; }

/*
.review__carrousel-item:nth-child(2) .review__avatar--mini {
  object-position: -6.5625rem -2.5625rem;
}

.review__carrousel-item:nth-child(3) .review__avatar--mini {
  object-position: -5.1875rem -0.6875rem;
}
*/
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 10px 0 -10px; }

.team__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  margin-right: 20px; }
  .team__item:last-child {
    margin-right: 0; }

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal; }

.member__pic-area {
  display: inline-block;
  position: relative;
  width: 220px;
  height: 288px; }

.member__pic {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.member__name {
  margin-top: 35px;
  font-size: 21px;
  font-weight: 500;
  color: #323232; }

.member__info {
  height: 0;
  overflow: hidden; }

.member__info--active {
  height: 100px; }

.member__occupation {
  font-size: 18px;
  font-weight: normal;
  color: #281e1e; }

.member__description {
  font-size: 18px;
  font-weight: 300;
  color: #666666; }
