$light-blue: #61c4d9;
$text-main-color: #ffffff;
$main-back: #61c4d9;
$box-shadow: #0f5a47;
$almost-black: #0d0d0d;
$member-name: #323232;
$member-occupation: #281e1e;
$member-description: #666666;
$features: #b0f7ff;

@import url(./normalize.css);

@import "./blocks/layout/base";
@import "./blocks/layout/font";

@import "./blocks/contacts";
@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/promo";
@import "./blocks/fixed-menu";
@import "./blocks/features";
@import "./blocks/reasons";
@import "./blocks/reviews";
@import "./blocks/team";
@import "./blocks/member";
@import "./blocks/menu";
@import "./blocks/map";
@import "./blocks/footer";
