* {
  box-sizing: border-box;
  
}

html, body {
  height: 100%;
  //font-size: 10px;
}

html {
  font-size: 16px;
  @include laptops {
    font-size: 16px;
  }
  @include tablets {
    font-size: 16px;
  }
  @include phones {
    font-size: 13px;
  }

}

body {
  font-family: AlegreyaSans, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  
  //min-width: 940px + 20px;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //align-content: center;
  //margin: auto;
}

.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  justify-content: center;
  
  overflow: hidden;
  //flex-direction: column;
  //justify-content: space-between;
  /* width: 110rem; */
  width: 100%;
  margin: 0 auto;
  //border: 1px dotted black;
  @include tablets {
		min-height: initial;
	}
}

.section-title {
  text-transform: uppercase;
  font-size: rem(48px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $almost-black;
  padding: rem(80px) 0 rem(5px);
}

.section-title--white {
  color: $text-main-color;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //width: 1100px;
  //width: 94%;
  padding: rem(24px) rem(80px);
  //padding: 2.4rem 8rem;
  vertical-align: middle;
  //justify-content: center;
  justify-content: space-evenly;

  position: relative;
  max-width: rem(1100px);
  //width: 95%;
  @include tablets {
		padding: rem(24px) rem(25px);
  }
  @include phones {
		//padding: rem(24px) rem(25px);
	}
}

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.btn {
  margin: rem(35px) 0 rem(10px);
  padding: rem(18px) rem(35px);
  border-radius: rem(50px);
  //background-color: $text-main-color;
  border: none;
  color: $box-shadow;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(19px);
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  box-shadow: 0 0 4rem rgba(0, 0, 1, 0.22);
  overflow: hidden;
  z-index: 1;
  position: relative;
  //display: inline-block;
  
  &:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $text-main-color;
		border-radius: rem(50px);
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($text-main-color, 10%);
		transition: all .3s;
		border-radius: rem(100px);
		z-index: -1;
	}
	&:hover {
		&:before {
			width: 100%;
		}
  }
  
}

.btn--green {
  color: $text-main-color;
  box-shadow: none;
  margin: rem(40px) rem(10px);
  &:after {
    background-color: $green;
  }
  &:before {
		background-color: darken($green, 10%);
		z-index: -1;
  }
  &:hover {
		&:before {
			width: 100%;
		}
	}
}

.btn--transparent {
  color: $green;
  box-shadow: none;
  margin: rem(40px) rem(10px);
  &:after {
    background-color: $transparent;
  }
  &:before {
		background-color: darken(red, 10%);
		z-index: -1;
  }
  &:hover {
    color: $text-main-color;
		&:before {
			width: 100%;
		}
	}
}

.btn--as-text {
  margin: rem(40px) rem(10px);
  text-transform: none;
}