.contacts {
  vertical-align: top;
}

.contacts__pic {
  width: 12px;
  height: 11px;
  fill: $text-main-color;
  stroke: $text-main-color;
}


.contacts__pic--footer { 
  fill: #0f5a47;
  stroke: #0f5a47;
}

.contacts__phone {
  display: inline-block;
  color: $text-main-color;  
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.contacts__phone--footer {
  color: #0f5a47;
}

.footer__social {
  margin-right: 0;
  text-align: right;
}