$text-main-color: #ffffff;

.contacts__phone {
  color: $text-main-color;
  text-decoration: none;
  font-size: 4.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.contacts__pic {
  width: 2.1rem;
}