.features__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature__item {
  color: $text-main-color;
  display: flex;
  flex: 1 1;
  margin-right: rem(25px);
  &:last-child {
    margin-right: 0;
  }
}

.feature__pic-area {
  width: rem(90px);
  height: rem(70px);
}

.feature__pic {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: $features;
  stroke-width: 0.7px;
  stroke-miterlimit: 10px;
}

.feature__desc {
  padding-left: rem(10px);  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  word-wrap: break-word;
}