.features__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature__item {
  color: $text-main-color;
  display: flex;
  flex: 1 1;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.feature__pic-area {
  width: 100px;
  height: 50px;
}

.feature__pic {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: $features;
  stroke-width: 0.5px;
}

.feature__desc {
  padding-left: 10px;  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  word-wrap: break-word;
}