.form {
  display: flex;
  flex-direction: row;
}

.form__part {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form__row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  //flex: 1 1;
  width: 100%;
  //margin: 0 -1.1rem;
}

.form__row--buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.form__block {
  flex: 1 1;
  //margin-left: 2.3rem;
  //flex-basis: 16rem;
  //min-width: 40%;
  padding: 0 1.0rem;
}

.form__block-title {
  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #0f5a47;
}

label {
  margin: 0;
  padding: 0;
}

.form__input {
  width: 100%;
  background: #fff;
  border-style: none;
  padding: 1.5rem 1.1rem;
  margin: 0.8rem 0 1rem;
  outline: none;

  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

 }

 .form__input:focus {
  box-shadow: 0 0 0 3px #dde3bd;
}

.option {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.option__title {
  margin: 0 2rem 0 0.5rem;
  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: $green;
}

.option__radio {
  width: 1rem;
  height: 1rem;
  margin: 0 -1rem 1rem 0;
  opacity: 0;
}

.option__radio:checked ~ .option__styler {
  background: $text-main-color;
}

.option__radio:checked ~ .option__styler::after {
  opacity: 1;
}

.option__styler {
  
  margin: 1rem;
  display: inline-block;
  height: 2.6rem;
  width: 2.6rem;
  //line-height: 2rem;
  border-radius: 50%;
  background: $text-main-color;
  position: relative;
}

.option__styler::after {
  content: '';
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: $green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}

.form-dont-call-back {
  display: block;
  position: relative;
  padding-left: 5.1rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: $green;
}

.form-dont-call-back input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 2.6rem;
  width: 2.6rem;
  background-color: #fff;
}

.form-dont-call-back:hover input ~ .checkmark {
  background-color: #fff;
}

.form-dont-call-back input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-dont-call-back input:checked ~ .checkmark:after {
  display: block;
}

.form-dont-call-back .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid $green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}