.header {
  position: absolute;
  width: 100%;
  padding-top: 0;
  z-index: 500;
  color: $text-main-color;
  top: 0;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6% 0;
  @include tablets {
		padding: 5% 5% 0;
	}  
}

.logo__text {
  font-family: 'Museo Sans 500';
  text-decoration: none;
  color: white;
  font-size: rem(24px);
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: left;
  font-weight: normal;
  font-style: normal;
}

