.member {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.member__pic-area {
  display: inline-block;
  position: relative;
  width: 220px;
  height: 288px;
}

.member__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.member__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.member__switcher {
  width: 10px;
  height: 10px;
  transition: all .2s;
}

.member__input:checked {

  ~ .member__switcher
  {
    transform: rotate(180deg);
    fill: orange;
  }
  
  + .member__name {
    color: orange;
  }

  ~ .member__info {
    height: 100px;
  }

}

.member__name {
  cursor: pointer;
  margin-top: 35px;
  font-size: 21px;
  font-weight: 500;
  color: $member-name;
}

.member__info {
  height: 0;
  overflow: hidden;
  transition: all .35s;
}

.member__info--active {
  height: 100px;
}

.member__occupation {
  font-size: 18px;
  font-weight: normal;
  color: $member-occupation;
}

.member__description {
  font-size: 18px;
  font-weight: 300;
  color: $member-description;
}
