.menu {
  display: block;
  //padding-left: 8rem;
  //padding-top: 8rem;
  position: relative;

  &:before {
    display: block;
    content: "";
    background-image: url('../../img/back/bars-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(70%);
    height: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.menu__container {
  display: flex;
  flex-direction: row;
  //background: black;
  height: 100%;
  margin: 0 0;
  padding: 0;
  justify-content: space-between;
  @include phones {
    padding: 15% 2% 2% 5%;
  }
  @include tablets {
    padding: 10% 2% 5% 5%;
  }
}

.menu-info {
  //width: rem(270px);
  min-width: 30%;
}

.vertical-accord {
  //width: 830px;
  height: 100%;
}

.vertical-accord__list {
  display: flex;
  //height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.vertical-accord__item {
  display: flex;
  height: 100%;
  flex: 1 1;
}

.item-1 { 
  background-image: url('../../img/back/bars-milk-1100.png');
}

.item-2 { 
  background-image: url('../../img/back/bars-fruits-1100.png');
}

.item-3 { 
  background-image: url('../../img/back/bars-berries-1100.png');
}

.vertical-accord__trigger { 
  background-repeat: no-repeat;
  background-size: cover;
  //-webkit-filter: brightness(70%);
  //filter: brightness(70%);
  text-decoration: none;
  height: 100%;
  width: rem(100px);
  display: flex;
  justify-content: center;
  padding-bottom: rem(40px);
  padding-bottom: 40%;

  &:before {
    display: block;
    content: "";
    background-image: url('../../img/back/bars-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(70%);
    height: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

.vertical-accord__title {
  display: inline-block;
  font-size: rem(40px);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
  //transform: rotate(-90deg);
  writing-mode: tb;
  transform: rotate(180deg);
  //margin-left: rem(40px);
}

.vertical-accord__wrap-content {
  opacity: 1;
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-image: url('../../img/back/bars-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0;
}

/*
.vertical-accord__trigger:hover,
.vertical-accord__wrap-content:hover,
.vertical-accord__content:hover { 
  //-webkit-filter: brightness(30%);
  //filter: brightness(30%);
  + .vertical-accord__wrap-content {
    width: 43rem;
  }
}
*/

.vertical-accord__content {  
  font-size: rem(16px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: block;
}