.nav {
	margin: 0 45px;
	flex: 1 1;
	@include tablets {
		display: none;
	}
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include tablets {
		flex-direction: column;
	}
}

.nav__item {
	padding-right: 10px;
	&:last-child {
		padding-right: 0;
	}
}

.nav__link {
	text-decoration: none;
	color: $text-main-color;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
}