$light-blue: #61c4d9;
$main-color: #ffffff;
$main-back: #61c4d9;

.reasons {
  position: relative;
  background: url('/img/reasons/reasons-bg.png') 0% 57%;
  background-repeat: no-repeat;
}

.reasons__container {
  @include tablets {
    width: 62%;
  }
}

/*
.reasons:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
  background: url('/img/reasons/berries-reasons-bg.png') 0% 99%;
  background-repeat: no-repeat;
  z-index: 2;
}
*/

.reasons__title {
  padding: 5% 0 1%;
}

.reasons__subtitle {
  font-size: rem(18px);
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #666666;
  //width: 45%;
  margin: 0 auto;
  padding: 1% 0 5%;
}

.reasons__list {
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @include tablets {
    flex-direction: column;
  }
}

.reasons__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    width: 100%;
  }

  @include phones {
    flex-direction: row;
  }
}

.reasons__pic {
  position: relative;
  background-color: #f2f5f4;
  border-radius: 50%;
  border: rem(30px) solid #f2f5f4;
  box-sizing: content-box;
  width: rem(70px);
  height: rem(70px);
  margin-bottom: rem(20px);
  @include phones {
    //flex: 1 1;
  }
}

.reasons__icon {
  //position: absolute;
  //left: -10px;
  //top: -10px;
  width: 100%;
  height: 100%;
  stroke: #2a2a29;
  stroke-width: 1px;
  fill: none;
  stroke-width: 0.7px;
  stroke-miterlimit: rem(10px);
}

.reasons__box-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reasons__short-desc {
  font-size: rem(27px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: rem(10px);
}

.reasons__desc {
  font-size: rem(18px);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.reasons__item:nth-child(2)::before {
  position: absolute;
  content: '';
  width: rem(70px);
  height: rem(20px);
  top: 18%;
  left: -10%;
  background: url(/img/icons/dots-reasons.svg);
  background-repeat: no-repeat;

  @include tablets {
    display: none;
  }
}

.reasons__item:nth-child(2)::after {
  position: absolute;
  content: '';
  width: rem(70px);
  height: rem(20px);
  top: 18%;
  right: -10%;
  background: url(/img/icons/dots-reasons.svg);
  background-repeat: no-repeat;

  @include tablets {
    display: none;
  }
}