.reviews {
  /*
  position: relative;
  */
  background:
    url('/img/reviews/berrie-reviews-bg.png') 92% 0%,
    url('/img/reviews/reviews-bg.png') 0% 122%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.reviews:after {
  position: absolute;
  content: '';
  width: rem(200px);
  height: rem(200px);
  top: 96%;
  left: rem(35px);
  background: url('/img/reviews/berries-reviews-bg.png') 0% 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

.reviews__title {
  padding-top: rem(10px);
}

.review {
  padding: rem(24px) 0;
}

.review__list {
  margin-bottom: 1.25rem;
}

.review__item {
  /* position: relative; */
  background-color: #f8faf9;
  background-image: url(/img/reviews/reviews-item-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.review__article {
  display: flex;
  padding: rem(51.1px) rem(45.7px) rem(34.6px);

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.review__box-avatar {
  //  flex: 1 1;
  margin-right: rem(20px);
  width: rem(253.1px);
  height: rem(259.3px);
  overflow: hidden;
}

.review__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__carrousel-item--current,
.review__carrousel-item:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 rem(5px) #0f5a47;
}

.review__desc {
  flex: 1 1;
  padding-top: rem(5px);
  //max-width: 90rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  h4 {
    font-size: rem(30px);
    font-weight: 500;
    text-align: left;
    color: #323232;

    @include tablets {
      text-align: center;
    }
  }

  p {
    font-size: rem(18px);
    font-weight: normal;
    text-align: left;
    color: #666666;
    margin-bottom: rem(13px);
    width: 80%;

    @include tablets {
      text-align: center;
    }

  }

  .review__username {
    font-size: rem(18px);
    font-weight: 500;
    text-align: left;
    color: #666666;

    @include tablets {
      text-align: center;
    }

  }
}

.review__carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__carrousel-item {
  margin-right: rem(12.3px);
  width: rem(66.7px);
  height: rem(66.7px);
  box-sizing: content-box;
  display: flex;

  &:last-child {
    margin-right: 0;
  }
}

.review__avatar--mini {
  width: rem(66.7px);
  height: rem(66.7px);
  border-radius: 50%;
  object-fit: cover;
}


/*
.review__carrousel-item:nth-child(2) .review__avatar--mini {
  object-position: -6.5625rem -2.5625rem;
}

.review__carrousel-item:nth-child(3) .review__avatar--mini {
  object-position: -5.1875rem -0.6875rem;
}
*/