.team {
  //background: lightcoral;
}

.team__container {
  @include phones {
    padding: 0 20%;
  }
}

.team__title {
  padding-top: rem(10px);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //margin: 0 10px 0 -10px;
  margin: 0 auto;
  padding: rem(40px) 0 0;
  @include phones {
    padding: 0;
  }
}

.team__item {
  //flex: 1 1;
  margin-right: rem(20px);
  width: calc(100% / 4 - 20px);
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    width: calc(100% / 2 - 20px);
    &:nth-child(even) {
      margin-right: 0;
    }  
  }
}
