.fixed-menu {
  position: fixed;
  top: rem(210px);
  right: rem(46px);
  z-index: 2;
  @include tablets {
		display: none;
	}
}

.fixed-menu__dot {
  display: block;
  height: rem(16px);
  width: rem(16px);
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: rem(5px);
  position: relative;

  &--active {
    border-color: $text-main-color;
  }

  &:before {
    content: '';
    width: rem(6px);
    height: rem(6px);
    background-color: $text-main-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
